# Telegram bot token (o'rnatishdan oldin @BotFather orqali yangi token oling)
TELEGRAM_BOT_TOKEN=

# MongoDB ulanishi
MONGODB_URI=mongodb://mongo:SIpMXOONFmVgeDZZOlPpVumlmRcaUkDo@altaria.proxy.rlwy.net:48551
MONGODB_DATABASE=uz_weather_bot

# Gemini API kaliti (o'rnatishdan oldin oling)
GEMINI_API_KEY=

# Kundalik xabar sozlamalari
# 07:00 - Toshkent vaqti bilan xabar yuborish
# 00:00 - Kundalik xabarni o'chirish
# 1440 - 1440 daqiqada (soatiga) xabar yuborish
# 0 - xabarni o'chirish
WEATHER_BOT_HOURLY_HOUR=7
WEATHER_BOT_DAILY_HOUR=7
WEATHER_BOT_INTERVAL_MINUTES=1440